# Server Configuration
PORT=3000

# Database URL (adjust according to your database setup)
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:8765,http://localhost:4000

# Node Environment
NODE_ENV=development

SPOTIFY_CLIENT_ID=seu_client_id_aqui
SPOTIFY_CLIENT_SECRET=seu_client_secret_aqui